nav {
  background-color: rgb(45, 45, 45);
  padding: 30px;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.album,
p {
  color: black;
  font-size: 1.3em;
  display: inline;
}

.centro {
  text-align: center;
}
